<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="fragments/general.html :: headerfiles(title='Especialistas')"></head>
<body>
<header th:insert="fragments/general.html :: navbar"></header>

<div class="d-flex">
    <div th:insert="~{clinica/fragments/sidebar.html :: sidebar(clinicaId=${clinicaId})}" th:remove="tag"></div>

    <div class="container">
        <div class="containerHeaderTables">
            <h1>Especialistas</h1>
            <a class="btn btn-primary" th:href="@{especialista/create}">Criar Especialista</a>
        </div>
        <div class="containerTables">
            <table class="table table-striped table-hover-blue">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>Data de nascimento</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${especialistas.isEmpty()}">
                    <td colspan="5">Nenhum especialista cadastrado</td>
                </tr>
                <tr th:each="especialista : ${especialistas}">
                    <td th:text="${especialista.nome}"></td>
                    <td th:text="${especialista.telefone}"></td>
                    <td th:text="${especialista.email}"></td>
                    <td th:text="${#dates.format(especialista.dataNasci, 'dd/MM/yyyy')}"></td>
                    <td>
                        <ul>
                            <li>
                                <a class="myBtn blue"
                                   th:href="@{/especialista/{id}/edit(id=${especialista.id})}">Editar</a>
                            </li>
                            <li>
                                <form method="post" th:action="@{/especialista/{id}/delete(id=${especialista.id})}">
                                    <input class="myBtn myInput red" type="submit" value="Excluir">
                                </form>
                            </li>
                        </ul>
                    </td>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>